#mascote{
    margin: -12px;
    width: 10%;
    height: auto;
    float: center;

}

.mundo{
    display: inline-flex;
    align-items: center;
    gap: 100px;
    background-color: #1E1E1E;
    height: 100px;
    width: 100%;
    margin: 0%;

}

h1{
    color: #ffff;
    margin: 2%;
}

body {
    background: linear-gradient(to bottom, #1B13FB, #1409e0); 
    margin: 0;
    padding: 0;
    height: 100vh;
}

.carrossel-container{
    width: 80%;
    max-width: 600px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.2);
}

.carrossel{
    display: flex;
    width: 300%;
    border-radius: 10px;
    transition: transform 0.5s ease-in-out;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 20px;
    border-radius: 50%;
}

.prev { left: 10px; }
.next { right: 10px; }

